@charset "UTF-8";

body
{
  font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
  background-image: url("../img/white_paperboard.png");
}

body > .navbar .brand {
    -webkit-transition: all 0.5s linear 0s;
       -moz-transition: all 0.5s linear 0s;
        -ms-transition: all 0.5s linear 0s;
         -o-transition: all 0.5s linear 0s;
            transition: all 0.5s linear 0s;
    color:#e5e5e5;
    margin-left: -50px;
    padding-top: 5px;
    font-weight: bold;
    font-size: 36px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.125);
    -moz-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.125);
    -webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.125);
}

body > .navbar .brand:hover {
    color:#EC008C;
    text-shadow: 0 1px 0 rgba(236, 0, 140, 0.5), 0 0 30px rgba(236, 0, 140, 0.3);
    -moz-text-shadow: 0 1px 0 rgba(236, 0, 140, 0.5), 0 0 30px rgba(236, 0, 140, 0.3);
    -webkit-text-shadow: 0 1px 0 rgba(236, 0, 140, 0.5), 0 0 30px rgba(236, 0, 140, 0.3);
}

.nav .dropdown-toggle .caret {
    border-bottom-color: #000;
    border-top-color: #000;
}

.lead {
  margin-bottom: 8px;
}

span.lead {
  background-color: white;
  text-align: center;
  font-style: oblique;
  font-size: 18px;
  outline: 1px solid #cccccc;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

#logout {
  margin-right: -50px;
}

input,
button,
select,
textarea {
  font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
}

.navbar-search .search-query {
  font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
}

#container {
  padding: 60px 50px 20px 50px;
  margin-bottom: 10px;
  -moz-box-shadow: 0 0 5px 5px #DDD;
  -webkit-box-shadow: 0 0 5px 5px #DDD;
  box-shadow: 0 0 5px 5px #DDD;
  background-image: none;
  background-color: #F6F6F6;
}

#loginForm {
  padding: 0px;
  margin: 100px auto;
  width: 420px;
  height: 302px;
  background-image: url("../img/login.png");
}

#content
{
    padding: 0px;
}

hr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  margin: 5px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

select {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
      -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}
select:focus {
  border-color: rgba(236, 0, 140, 0.8);
  outline: 0;
  /*outline: thin dotted \9;*/
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(236, 0, 140, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(236, 0, 140, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(236, 0, 140, 0.6);
}
.webkit_specific {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(236, 0, 140, 0.6);
}

.tooltip-inner{
  max-width: 400px;
}

.row-work {
  /*-webkit-text-shadow: 0 0 3px rgba(174, 255, 174, 1);
     -moz-text-shadow: 0 0 3px rgba(174, 255, 174, 1);
          text-shadow: 0 0 3px rgba(174, 255, 174, 1);*/
  
  background-color: rgba(174, 255, 174, 0.9);
}

.row-confirm {
  /*-webkit-text-shadow: 0 0 3px rgba(255, 253, 153, 1);
     -moz-text-shadow: 0 0 3px rgba(255, 253, 153, 1);
          text-shadow: 0 0 3px rgba(255, 253, 153, 1);*/
  
  background-color: rgba(255, 253, 153, 0.9);
}

.row-agreed {
  /*-webkit-text-shadow: 0 0 3px rgba(238, 191, 209, 1);
     -moz-text-shadow: 0 0 3px rgba(238, 191, 209, 1);
          text-shadow: 0 0 3px rgba(238, 191, 209, 1);*/
  
  background-color: rgba(238, 191, 209, 0.9);
}

.row-changed {
  /*-webkit-text-shadow: 0 0 3px rgba(253, 107, 107, 1);
     -moz-text-shadow: 0 0 3px rgba(253, 107, 107, 1);
          text-shadow: 0 0 3px rgba(253, 107, 107, 1);*/
  
  background-color: rgba(253, 107, 107, 0.9);
}

.row-done {
  /*-webkit-text-shadow: 0 0 3px rgba(225, 225, 225, 1);
     -moz-text-shadow: 0 0 3px rgba(225, 225, 225, 1);
          text-shadow: 0 0 3px rgba(225, 225, 225, 1);*/
  
  background-color: rgba(225, 225, 225, 0.9);
}

.row-paused {
  /*-webkit-text-shadow: 0 0 3px rgba(152, 143, 190, 1);
     -moz-text-shadow: 0 0 3px rgba(152, 143, 190, 1);
          text-shadow: 0 0 3px rgba(152, 143, 190, 1);*/
  
  background-color: rgba(152, 143, 190, 0.9);
}

.row-cancelled {
  /*-webkit-text-shadow: 0 0 3px rgba(241, 168, 92, 1);
     -moz-text-shadow: 0 0 3px rgba(241, 168, 92, 1);
          text-shadow: 0 0 3px rgba(241, 168, 92, 1);*/
  
  background-color: rgba(241, 168, 92, 0.9);
}

.btn-work {
  background-color: hsl(120, 100%, 74%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e0ffe0", endColorstr="#7aff7a");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#e0ffe0), to(#7aff7a));
  background-image: -moz-linear-gradient(top, #e0ffe0, #7aff7a);
  background-image: -ms-linear-gradient(top, #e0ffe0, #7aff7a);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e0ffe0), color-stop(100%, #7aff7a));
  background-image: -webkit-linear-gradient(top, #e0ffe0, #7aff7a);
  background-image: -o-linear-gradient(top, #e0ffe0, #7aff7a);
  background-image: linear-gradient(#e0ffe0, #7aff7a);
  border-color: #7aff7a #7aff7a hsl(120, 100%, 69%);
  color: #333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;
}

.btn-confirm {
  background-color: hsl(59, 100%, 70%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fefecc", endColorstr="#fffc65");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fefecc), to(#fffc65));
  background-image: -moz-linear-gradient(top, #fefecc, #fffc65);
  background-image: -ms-linear-gradient(top, #fefecc, #fffc65);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefecc), color-stop(100%, #fffc65));
  background-image: -webkit-linear-gradient(top, #fefecc, #fffc65);
  background-image: -o-linear-gradient(top, #fefecc, #fffc65);
  background-image: linear-gradient(#fefecc, #fffc65);
  border-color: #fffc65 #fffc65 hsl(59, 100%, 65%);
  color: #333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;
  letter-spacing: -1px
}

.btn-agreed {
  background-color: hsl(337, 58%, 74%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f8e6ed", endColorstr="#e396b3");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f8e6ed), to(#e396b3));
  background-image: -moz-linear-gradient(top, #f8e6ed, #e396b3);
  background-image: -ms-linear-gradient(top, #f8e6ed, #e396b3);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8e6ed), color-stop(100%, #e396b3));
  background-image: -webkit-linear-gradient(top, #f8e6ed, #e396b3);
  background-image: -o-linear-gradient(top, #f8e6ed, #e396b3);
  background-image: linear-gradient(#f8e6ed, #e396b3);
  border-color: #e396b3 #e396b3 hsl(337, 58%, 69%);
  color: #333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;
}

.btn-changed {
  background-color: hsl(0, 97%, 61%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fd9f9f", endColorstr="#fc3b3b");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fd9f9f), to(#fc3b3b));
  background-image: -moz-linear-gradient(top, #fd9f9f, #fc3b3b);
  background-image: -ms-linear-gradient(top, #fd9f9f, #fc3b3b);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fd9f9f), color-stop(100%, #fc3b3b));
  background-image: -webkit-linear-gradient(top, #fd9f9f, #fc3b3b);
  background-image: -o-linear-gradient(top, #fd9f9f, #fc3b3b);
  background-image: linear-gradient(#fd9f9f, #fc3b3b);
  border-color: #fc3b3b #fc3b3b hsl(0, 97%, 56%);
  color: #333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;
}

.btn-done {
  background-color: hsl(0, 0%, 78%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f9f9f9", endColorstr="#c6c6c6");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f9f9f9), to(#c6c6c6));
  background-image: -moz-linear-gradient(top, #f9f9f9, #c6c6c6);
  background-image: -ms-linear-gradient(top, #f9f9f9, #c6c6c6);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #c6c6c6));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #c6c6c6);
  background-image: -o-linear-gradient(top, #f9f9f9, #c6c6c6);
  background-image: linear-gradient(#f9f9f9, #c6c6c6);
  border-color: #c6c6c6 #c6c6c6 hsl(0, 0%, 73%);
  color: #333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;
}

.btn-paused {
  background-color: hsl(251, 27%, 55%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b4aed0", endColorstr="#786dab");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#b4aed0), to(#786dab));
  background-image: -moz-linear-gradient(top, #b4aed0, #786dab);
  background-image: -ms-linear-gradient(top, #b4aed0, #786dab);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b4aed0), color-stop(100%, #786dab));
  background-image: -webkit-linear-gradient(top, #b4aed0, #786dab);
  background-image: -o-linear-gradient(top, #b4aed0, #786dab);
  background-image: linear-gradient(#b4aed0, #786dab);
  border-color: #786dab #786dab hsl(251, 27%, 50%);
  color: #333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;
  letter-spacing: -1px
}

.btn-cancelled {
  background-color: hsl(31, 84%, 55%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4c189", endColorstr="#ec8f2b");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f4c189), to(#ec8f2b));
  background-image: -moz-linear-gradient(top, #f4c189, #ec8f2b);
  background-image: -ms-linear-gradient(top, #f4c189, #ec8f2b);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4c189), color-stop(100%, #ec8f2b));
  background-image: -webkit-linear-gradient(top, #f4c189, #ec8f2b);
  background-image: -o-linear-gradient(top, #f4c189, #ec8f2b);
  background-image: linear-gradient(#f4c189, #ec8f2b);
  border-color: #ec8f2b #ec8f2b hsl(31, 84%, 50%);
  color: #333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;
}

.btn-magenta {
  background-color: hsl(324, 100%, 36%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff1ea5", endColorstr="#b7006e");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ff1ea5), to(#b7006e));
  background-image: -moz-linear-gradient(top, #ff1ea5, #b7006e);
  background-image: -ms-linear-gradient(top, #ff1ea5, #b7006e);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff1ea5), color-stop(100%, #b7006e));
  background-image: -webkit-linear-gradient(top, #ff1ea5, #b7006e);
  background-image: -o-linear-gradient(top, #ff1ea5, #b7006e);
  background-image: linear-gradient(#ff1ea5, #b7006e);
  border-color: #b7006e #b7006e hsl(324, 100%, 31%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #ff1ea5;
  background-color: #b7006e;
  background-image: -moz-linear-gradient(top, #ff1ea5, #b7006e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff1ea5), to(#b7006e));
  background-image: -webkit-linear-gradient(top, #ff1ea5, #b7006e);
  background-image: -o-linear-gradient(top, #ff1ea5, #b7006e);
  background-image: linear-gradient(to bottom, #ff1ea5, #b7006e);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffff1ea5', endColorstr='#ffb7006e', GradientType=0);
}

button.active i.icon-active-ok {
  background-position: -288px 0;
}

.hidden {
    display: none;
    visibility: hidden;
}

.statusRadio {
  width: 124px;
}

.table {
    margin-bottom: 0px;
}

.table-condensed th,
.table-condensed td {
  padding: 1px 2px;
}

.input-append, .input-prepend {
    margin-bottom: 0px;
}

.table th,
.table td {
  text-align: center;
  vertical-align: middle;
  border-top: 1px solid #ddd;
  -moz-box-shadow: 0 1px 0px 0px #fff;
  -webkit-box-shadow: 0 1px 0px 0px #fff;
  box-shadow: 0 1px 0px 0px #fff;
  /*height: 3em;*/
  line-height: 1.5em;
}

.table.lefted th,
.table.lefted td {
  text-align: left;
}

.table-price tbody tr:nth-child(even) td,
.table-price tbody tr:nth-child(even) th {
  -webkit-text-shadow: 0 0 3px rgba(236, 0, 140, 0.6);
     -moz-text-shadow: 0 0 3px rgba(236, 0, 140, 0.6);
          text-shadow: 0 0 3px rgba(236, 0, 140, 0.6);
  color: #EC008C;
  font-style: italic;
  line-height: 0.9em;
}

.table-price tbody tr:nth-child(odd) td,
.table-price tbody tr:nth-child(odd) th {
  font-weight: bold;
  background-color: #f6f6f6;
}

.table-price tbody tr:nth-child(4n+2) td,
.table-price tbody tr:nth-child(4n+2) th {
  background-color: #f0f0f0;
}

.table-price tbody tr:nth-child(4n-3) td,
.table-price tbody tr:nth-child(4n-3) th {
  background-color: #f0f0f0;
}


.table.table-print td {
  background-color: #fff;
  border: 1px solid #000;
}
.comment-table {
  margin-top: -40px;
}

.two-liner{
  line-height: 1.5em;
  max-height: 3em;       /* height is 2x line-height, so two lines will display */
  overflow: hidden;  /* prevents extra lines from being visible */

}

.dotted {
  border-bottom: 1px dotted #999999;
}

.table caption + tbody tr:last-child th,
.table caption + tbody tr:last-child td,
.table colgroup + tbody tr:last-child th,
.table colgroup + tbody tr:last-child td,
.table tbody:last-child tr:last-child th,
.table tbody:last-child tr:last-child td {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(236, 0, 140, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(236, 0, 140, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(236, 0, 140, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(236, 0, 140, 0.6);
}

#order-form label {
  text-align: right;
  line-height: 1em;
}

.down7px {
  margin-top: 7px;
  margin-bottom: 12px;
}

.down10px {
  margin-top: 10px;
  margin-bottom: 9px;
}

.down14px {
  margin-top: 14px;
  margin-bottom: 5px;
}

.controls-row [class*="span"] + [class*="span"] {
    margin-right: 0px;
}

.spanx {
  margin-left: 7px;
  margin-right: -13px;
}

input.error{
  color: red;
  border-color: rgba(236, 0, 0, 0.8);
  background-color: rgba(236, 0, 0, 0.1);
}

.popover {
  width: 410px;
}

.offset00 {
  margin-left: 0px;
}

.offset01 {
  margin-left: 20px;
}

.offset02 {
  margin-left: 40px;
}

.offset03 {
  margin-left: 60px;
}

.offset04 {
  margin-left: 80px;
}

.offset05 {
  margin-left: 100px;
}

.offset06 {
  margin-left: 120px;
}

.offset07 {
  margin-left: 140px;
}

.offset08 {
  margin-left: 160px;
}

.offset09 {
  margin-left: 180px;
}

.offset010 {
  margin-left: 200px;
}

.offset011 {
  margin-left: 220px;
}

/*
 * jQuery File Upload UI Plugin CSS 6.10
 * https://github.com/blueimp/jQuery-File-Upload
 *
 * Copyright 2010, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */

.fileinput-button {
  position: relative;
  overflow: hidden;
  float: left;
  margin-right: 4px;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}
.fileupload-buttonbar .btn,
.fileupload-buttonbar .toggle {
  margin-bottom: 5px;
}
.files .progress {
  width: 200px;
}
.progress-animated .bar {
  background: url(../img/progressbar.gif);
  filter: none;
}
.fileupload-loading {
  position: absolute;
  left: 50%;
  width: 128px;
  height: 128px;
  background: url(../img/loading.gif) center no-repeat;
  display: none;
}
.fileupload-processing .fileupload-loading {
  display: block;
}

/* Fix for IE 6: */
* html .fileinput-button {
  line-height: 24px;
  margin: 1px -3px 0 0;
}

/* Fix for IE 7: */
* + html .fileinput-button {
  padding: 2px 15px;
  margin: 1px 0 0 0;
}

@media (max-width: 767px) {
  .files .btn span {
    display: none;
  }
  .files .preview * {
    width: 40px;
  }
  .files .name * {
    width: 80px;
    display: inline-block;
    word-wrap: break-word;
  }
  .files .progress {
    width: 20px;
  }
  .files .delete {
    width: 60px;
  }
}
