php_value auto_append_file "livejs.php"
php_flag output_buffering on

<ifModule mod_php.c>
  php_value	upload_max_filesize	256M
  php_value	post_max_size		256M
  php_value	default_charset utf-8
  php_value	max_execution_time 200
</ifModule>
